@import url('https://fonts.googleapis.com/css?family=Stalinist One');

body {
	height: 100%;
	background-image: linear-gradient(to right, yellow -100%, black);
}

h1 {
	font-family: 'Stalinist One';font-size: 22px; color: grey; background-color: rgba(0,0,0,0.5);
}

button {
	font-family: 'Stalinist One';font-size: 22px; color: grey; background-color: black;
}

a {
	font-family: 'Stalinist One';font-size: 22px; color: orange; background-color: black;
}


.shaker:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(3px, 1px) rotate(30deg); }
  10% { transform: translate(-9px, -2px) rotate(-11deg); }
  20% { transform: translate(-9px, 9px) rotate(14deg); }
  30% { transform: translate(3px, 2px) rotate(022deg); }
  40% { transform: translate(1px, -1px) rotate(15deg); }
  50% { transform: translate(-9px, 2px) rotate(-41deg); }
  60% { transform: translate(-3px, 9px) rotate(87deg); }
  70% { transform: translate(3px, 1px) rotate(-51deg); }
  80% { transform: translate(-9px, -1px) rotate(71deg); }
  90% { transform: translate(1px, 2px) rotate(80deg); }
  100% { transform: translate(1px, -2px) rotate(-91deg); }
}

.left {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 200px;
  border: none; 
  display: inline-block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: none; 
  display: inline-block;
}

.right {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 200px;
  border: none; 
  display: inline-block;
}